@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	color: white;
	font-family: "Lato", sans-serif;
	background-color: #04010b;
}

.text-gradient {
	background: linear-gradient(to right, #d84bff, #ab6feb, #8150eb);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

:hover.shadow {
	box-shadow: #39255d 0px 2px 6px 0px, #39255d 0px 2px 20px 0px;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}
